mixin deviceBlock(deviceInfo = {})
    .deviceBlock
        h4.deviceBlock__mac=deviceInfo.mac
        h4.deviceBlock__deviceId=deviceInfo.deviceId        
        h4.deviceBlock__deviceType=deviceInfo.deviceType
        h4.deviceBlock__model=deviceInfo.model
        h4.deviceBlock__deviceName=deviceInfo.deviceName